<footer id="footer" class="section">

  <div class="lockup content-wrapper">

    <div class="content-wrap">
      <nav>
        {% for item in site.data.settings.menu %}
          <a href="{{ item.url }}">{{ item.name }}</a>
        {% endfor %}
      </nav>

      <p class="copyright">All content copyright {{ site.time | date: '%Y' }}. Based on the <a href="https://github.com/DevTips/Artists-Theme">Artists Theme</a> by <a href="http://travisneilson.com">Travis Neilson</a></p>
    </div>

  </div>

</footer>
