<div class="spacer"></div>

<footer id="footer" class="section">

  <div class="lockup content-wrapper">

    <div class="logo">{% include icons/logo.html %}</div>
    <div class="content-wrap">

      <nav>
        {% for item in site.data.settings.menu %}
          <a href="{{ item.url }}">{{ item.name }}</a>
        {% endfor %}
      </nav>

      <div class="copyright">
        <p> All content copyright {{ site.time | date: '%Y' }}, Jannis Hinkelmann. </p>
      </div>
    </div>

  </div>

</footer>
