<section class="section">
  <div class="content-wrapper">
    <h3>Lass uns miteinander arbeiten</h3>

    <form method="POST" action="//formspree.io/{{ site.data.settings.email }}">

      <fieldset class="contact-info-group">

        <label><span>Dein Name</span>
        <input type="text" name="name"></label>

        <label><span>Deine Email-Adresse</span>
        <input type="email" name="_replyto"></label>

      </fieldset>

      <label><span>Erzähl' mir von deinem Projekt</span>
      <textarea name="message"></textarea></label>

      <fieldset class="submit-wrap">
        <input type="submit" value="Senden">
      </fieldset>

    </form>
  </div>
</section>
